@page
@model Book_Store.web.Pages.BenefitsBookModel
@{
}
<div class="title-container">
    <div class="title">
        فواید کتاب خواندن
    </div>
    <hr />
</div>
<div>
    <div style="margin:0 100px; font-size: 17px;display:flex;justify-items:center">
        <p>
            فواید کتاب خواندن چیست و انسان دقیقاً از خواندن کتاب چه چیزی به دست می‌آورد؟ آنقدر رسانه‌های اجتماعی و اینترنت ما را به خود درگیر کرده‌ اند که کمتر شاهد این هستیم که کسی به مطالعه کتاب فکر کند. آیا این تنها یک لذت است یا مزایایی فراتر از لذت بردن دارد؟ باید قاطعانه به شما بگوییم که هر دو را دربر می‌گیرد. هم لذت را به همراه دارد و هم مشمول مزایایی فراتر از لذت می‌شود.

            فواید کتاب خواندن بسیار است که از باهوش ‌تر کردن انسان تا بهبود مهارت‌های خواندن و نوشتن وی را شامل می‌شود. به بیانی دیگر کتاب خواندن از افزایش سواد و یادگیری کلمات جدید گرفته تا حفظ سلامت جسم و روان می‌تواند برای انسان مفید باشد. مطالعه می‌تواند در تمام سنین انجام شود. این عادت از دوران کودکی آغاز می‌شود و برای همیشه باقی بماند.

            در اینجا توضیح مختصری در مورد اینکه چگونه خواندن کتاب می‌تواند مغز و بدن انسان را به سمت بهتر شدن تغییر دهد، آورده شده است.
        </p>
        <img src="~/img/BenefitsBook.jpg" style="margin-right:20px"/>

    </div>
</div>