@page
@model Book_Store.web.Pages.GuideModel
@{
}

<div class="title-container">
    <div class="title">
        راهنمای ثبت سفارش
    </div>
    <hr />
</div>
<div style="width:90%;align-content:center">
    <div style="margin-right:80px;font-size:17px">
        <p>
            کاربر گرامی، برای سفارش در لوتوس کتاب، ابتدا باید عضو شده
            و با استفاده از منوها و جستجو در سایت کتاب مورد نظر خود را پیدا کرده و
            می توانید آن را به سبد خرید خود اضافه کنید و در فاکتور می توانید
            تعداد را اضافه یا کم کنید و قیمت و نیز جمع آن ها قابل مشاهده است.
        </p>
        <h4 style="margin-top:30px">
            روش ثبت نام
        </h4>

        <ul style="list-style:square;margin-right:60px">
            <li>برای عضویت در لوتوس کتاب بر روی «ثبت نام» کلیک نمایید.</li>
            <li>بعد از تکمیل فرم، بر روی «عضویت» کلیک نموده و به طور خودکار وارد صفحه ورود خواهید شد.</li>
            <li>با وارد کردن ایمیل و رمز عبور وارد صفحه اصلی سایت خواهید شد.</li>
            <li> هم اکنون می توانید کتاب های مورد نظر خود را از طریق افزودن به سبد خرید سفارش داده و سفارش خود را ثبت نمایید.</li>
        </ul>
    </div>

</div>


